repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args:
          - --py39-plus
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0
    hooks:
      - id: pycln
  - repo: https://github.com/jvllmr/pyaphid
    rev: v0.3.1
    hooks:
      - id: pyaphid
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/jvllmr/pre-commit-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        additional_dependencies: [prettier@latest, prettier-plugin-toml@latest]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
