[tool.poetry]
name = "poetry-types"
version = "0.5.0"
description = "A poetry plugin that adds/removes type stubs as dependencies like the mypy --install-types command."
authors = ["Jan Vollmer <jan@vllmr.dev>"]
license = "MIT License"
readme = "README.md"
repository = "https://github.com/jvllmr/poetry-types"
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Natural Language :: English",
]

[tool.poetry.dependencies]
python = "^3.8"
poetry = "^1.6"
tomlkit = "^0.11.4"
packaging = ">=21.3,<24.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.0"
tox = "^3.0 ||^4.0"
black = "^22.6.0 || ^23.0.0"
ruff = "^0.0.270"

[tool.pyaphid]
forbidden = ["print"]

[tool.isort]
profile = "black"

[tool.poetry.plugins."poetry.application.plugin"]
poetry-types = "poetry_types.poetry_types:PoetryTypes"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist= py38, py39, py310, py311

[testenv]
deps =
    pytest
commands =
    pytest

"""
