[tool.poetry]
name = "poetry-types-tests"
version = "0.2.2"
description = "Ghost package for testing"
authors = ["Jan Vollmer <jan@vllmr.dev>"]
license = "MIT License"
readme="README.md"
repository="https://github.com/jvllmr/poetry-types"
classifiers=[
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
        "Natural Language :: English",
    ]

[tool.poetry.dependencies]
python = "^3.9"
poetry = "^2.0"
colorama = "^0.4.4"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0"
tox = "^4.0"

[tool.isort]
profile= "black"

[tool.poetry.group.types.dependencies]
types-colorama = "^0.4.6"
types-sqlalchemy = "^1.4"
xlsxwriter = "*"



[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist= py37,py38, py39, py310

[testenv]
commands =
    pytest

"""
