name: Routine Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

env:
  PIP_CACHE_DIR: pip_cache

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        poetry-version: [2.2.1]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache wheels
        id: cache_wheels
        uses: actions/cache@v5
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: ${{ matrix.os }}${{ matrix.python-version }}${{ matrix.poetry-version }}
      - name: Set up poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Testing
        run: poetry run pytest
      - name: Building
        run: poetry build
  PoetrySelfAdd:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.9, "3.10", "3.11", "3.12", "3.13"]
        poetry-version: [2.0.0]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache wheels
        id: cache_wheels
        uses: actions/cache@v5
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: ${{ matrix.os }}${{ matrix.python-version }}${{ matrix.poetry-version }}
      - name: Set up poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Before Add
        run: poetry --version
      - name: Add
        run: poetry self add poetry-types
      - name: After add
        run: poetry --version
      - name: Update types
        run: poetry types update
      - name: Add types
        run: poetry types add requests
      - name: Remove types
        run: poetry types remove requests
